.homeGrid {
  object-fit: fill;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* 
.aboutMePic img
{
    max-height: 800px;
    max-width: 600px;

    height: 80vh;
    width: 30vw;

    margin-top: 5vh;
    margin-left: 5vw;


    /* float: left; */
/* align-self: inherit; */
/* object-fit: fill; */

/* p
{   
    width: 45vw;
    height: 80vh;

    margin-top: 5vh;
    margin-right: 5vw;

    overflow-y: auto;

    float: right;
    object-fit: contain;
    align-self:inherit;

} */

.div {
  object-fit: contain;
}

.contactInfoLink {
  display: block;
}

.contactInfoLink img {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  padding: auto;
}
