
button
{
    padding: 16px 32px;

    margin: 15px;

    border: 4px solid #2D3032 !important;

    border-radius: 6px;
    transition: all 0.3s ease 0s;

    background-color: #2D3032;
    color: white;

    font-size: 15px;
}


button:hover      
{
    color: white !important;
    border-radius: 50px;
    border-color: white !important;
    transition: all 0.5s ease 0s;
}

button:focus
{
    color: white !important;
    border-radius: 50px;
    border-color: white !important;
    transition: all 0.5s ease 0s;

}

