.detailedCard
{
    display: inline-block;

    background-color: #fff;
    color: #333;

    font-size: 20px;

    align-items: center;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin: 20px;
    padding: 10px;

    height: 80vh;
    overflow-y: scroll;

}

.detailedCard:hover
{
    cursor: pointer;
}

/* The list of courses for each category */
ul
{
    background-color: #fff;

    margin: 10px; 
    
    text-align: center;
    list-style-type: none;

}

.skillTitle
{
    text-align: left;
}

.detail
{
    text-align: left;
}