.listCard
{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;

    background-color: #fff;
    /* color: #333; */

    font-size: 20px;

    align-items: center;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin: 2rem 2rem 2rem 2rem;
    padding: 10px;
}

h3, h4, .listCardText
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.listCardText
{
  justify-content: top;
  z-index: 10;

  grid-column-start: 2;
  /* grid-column-end: 9; */

}

.listCard img
{
  z-index: 5;
  height: 15rem;
  width: 30rem;
  padding-right: 30px;
  /* grid-column-start: 0; */
  /* grid-column-end: 1; */

}