.grid-navBar {
  justify-items: center;
  text-align: center;

  font-size: 30 px;

  background-color: #2d3032;
}

.name {
  /* color: greenyellow; */
  color: #1aff1a;

  font-size: 30px;
  /* font-family: 'Courgette', cursive; */

  letter-spacing: 2px;
  padding: 15px;
}
