.grid-navBar
{
    width: 100%;
    height: 100%;
    justify-items: center;

    font-size: 30 px;

    background-color: #2D3032;

}


.name
{
    color: greenyellow;
    font-family: 'Courgette', cursive;


    letter-spacing: 2px;

    /* font-family: "Verdana"; */
    /* font-family: "Georgia"; */

    font-size: 30px;
    padding: 15px;
}

.home
{
    /* color: white; */
    font-size: 30px;
    /* font-family: "Verdana"; */
    font-family: "Georgia";


    padding: 15px;

}

