/* .Skills
{
    grid-area: 5 / 13 / span 3 / span 2;

}

.Projects
{ */
    /* grid-area: 5 / 7 / span 3 / span 2; */
/* } */

/* .Education
{
    grid-area: 10 / 8 / span 3 / span 2;

}


.Contact
{
    grid-area: 10 / 12 / span 3 / span 2;

} */