.homeGrid
{
    object-fit: fill;
    width: 100vw;
    height: 100vh;
}

.homeGrid img
{
    max-height: 800px;
    max-width: 600px;

    height: 80vh;
    width: 30vw;

    margin-top: 5vh;
    margin-left: 5vw;


    float: left;
    align-self: inherit;
    object-fit: fill;
}


p
{   
    width: 45vw;
    height: 80vh;

    margin-top: 5vh;
    margin-right: 5vw;

    overflow-y: scroll;

    float: right;
    object-fit: contain;
    align-self:inherit;

}

.div
{
    object-fit: contain;
}