.homeGrid
{
    display: flexbox;
}

.homeGrid img
{
    height: 500px;
    margin-left: 30px;
    margin-right: 10px;

    float: left;
    align-self: flex-start;
    object-fit: contain;
}


p
{   
    margin-left: 10px;
    margin-right: 30px;

    width: 50%;

    float: right;
    object-fit: fill;

}
