/* Overall Background */
.grid-education
{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 6fr;

    padding: 10px;

    width: 100vw;
    height: 100vh;

    /* Maybe why it is scrolling? */
    overflow: auto;

}

/* Section Titles */
.education_title
{
    /* Font color of the title */
    color: #fff;

    font-family: "Trebuchet MS";
    font-size: 25px;

    border-bottom: solid;
    border-color: #fff;
    margin: 15px;
}

/* Education Card */
.grid-college
{
    display: grid;
    grid-template-columns: repeat(1fr, 10);
    font-family: 'Sura', serif;

    background-color: #fff;
    color: #333;

    align-items: center;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* UCF Image */
img
{
    padding: 20px;
    grid-column-start: 3;
    grid-column-end: 6;
}

.degree
{
    font-family: 'Sura', serif;

    font-weight: bold;
    font-size: 25px;

    grid-column-start: 6;
    grid-column-end: 9;

}

/* The three courses card containers */
.grid-courses
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}
